<div class="d-flex justify-content-center align-items-center mx-auto my-5 flex-column w-100 w-md-50 px-4">
    <input type="text" [(ngModel)]="username" name="username" placeholder="Enter Your Name" class="form-control mb-3">
    <input type="text" [(ngModel)]="message" name="username" placeholder="Enter Your Name" class="form-control mb-3">
    <button class="btn btn-dark w-100" (click)="sendmsg()">Send Message</button>
  </div>
  
  <div class="d-flex justify-content-start align-items-start mx-auto flex-column w-100 w-md-50 px-4" *ngFor="let query of chat; let i = index;">
    <div class="row d-flex justify-content-start align-items-start my-3">
      <div class="col-4 col-md-1">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
      </div>
      <div class="col-8 col-md-11">
          <h6 class="fw-bold text-dark my-1">{{query.user}}</h6>
          <p class="text-dark my-2" [innerHTML]="query.message"></p>
      </div>
    </div>
  </div>
  

<button class="btn btn-dark" (click)="toggleRecording()">{{ recording ? 'Stop Recording' : 'Start Recording' }}</button>
<audio controls *ngIf="recordedAudio">
  <source [src]="recordedAudio" type="audio/wav">
</audio>
  
  