<div class="userinfo p-3">
    <p-avatar [label]="recipient.name[0]" class="ms-2" [style]="{ 'background-color': '#2196' + recipient.name[0] + '3', color: '#ffffff' }" shape="circle"></p-avatar>
    <h6 class="mb-0">{{recipient.name}}</h6>
</div>

<div class="chatbox p-4" #chatContainer>

    <div class="mb-3" [ngClass]="each.sender==recipient.id?'from-them':'from-me'" *ngFor="let each of chat">
        <div *ngIf="each.sender==recipient.id">
            <h6 class="fw-bold mb-1">{{recipient.name}}</h6>
            <p class="mb-0">{{each.msg}}</p>
            <p class="mt-1 mb-0 text-end" style="font-size: 0.7rem;">{{each.timestamp | time}}</p>
        </div>
        <div *ngIf="each.sender==currentUser.userId">
            <h6 class="fw-bold mb-1">You</h6>
            <p class="mb-0">{{each.msg}}</p>
            <p class="mt-1 mb-0 text-end" style="font-size: 0.7rem;">{{each.timestamp | time}}</p>
        </div>
    </div>

</div>

<div class="msginput p-3">
    <input type="text" [(ngModel)]="body.msg" class="form-control searchinput m-2" placeholder="Send message...">
    <button class="btn p-0" (click)="sendmsg()"><span class="pi pi-send fs-4" style="transform: rotate(40deg);"></span></button>
</div>


